In [1]:
file_no = 1
file_path = f"data_file/merged_df{file_no}.csv"
import re, json, os, pandas as pd, time
from tqdm import tqdm

In [3]:
# 문자열 전처리
def regular_expression(text):
    result = re.sub(r'o|n|b ', r'', text)
    result = re.sub(r'\(\(\)\)',r'', result)
    result = re.sub(r'/\(([^)]+)\)', r'', result)
    result = re.sub(r'\(', r'', result, count=10)
    result = re.sub(r'\)', r'', result, count=10)
    result = re.sub(r'/', r'', result, count=10).strip()
    return result

#         
# # csv 파일들 열어서 전처리 후 재 저장
# def open_csv_files():
#     root_directory = 'csv_file/'
#     root_directory_list = os.listdir(root_directory)
#     category = None
#     for i in range(len(root_directory_list)):
#         file_path = root_directory + str(root_directory_list[i])
#         print(file_path)
#         
#         df = pd.read_csv(file_path)
#         print("before", df.isna().sum())
#         df.dropna(inplace=True)
#         print("after", df.isna().sum())
#         
#         # 각 data 텍스트 변경
#         df[df.columns[0]] = df[df.columns[0]].apply(regular_expression)
#         df.to_csv(file_path, index=False)
#

In [4]:
# open_csv_files()

csv_file/sub_admin.csv
before 일반행정    30
dtype: int64
after 일반행정    0
dtype: int64
csv_file/sub_city.csv
before 도시및경제    0
dtype: int64
after 도시및경제    0
dtype: int64
csv_file/sub_culture.csv
before 문화및관광    0
dtype: int64
after 문화및관광    0
dtype: int64
csv_file/sub_environ.csv
before 환경    0
dtype: int64
after 환경    0
dtype: int64
csv_file/sub_etc.csv
before 기타민원    0
dtype: int64
after 기타민원    0
dtype: int64
csv_file/sub_traffic.csv
before 교통및차량등록    0
dtype: int64
after 교통및차량등록    0
dtype: int64
csv_file/sub_water.csv
before 상하수도    2
dtype: int64
after 상하수도    0
dtype: int64
csv_file/sub_welfare.csv
before 복지    0
dtype: int64
after 복지    0
dtype: int64

In [3]:
# admin_df, city_df, culture_df, environ_df, etc_df, traffic_df, water_df, welfare_df = df_list

In [4]:
# for df in df_list:
#     df['label'] = str(list(df.columns)[0])
#     df.columns = ['text','label']
# admin_df

                                                     text label
0                                            예, 아유 수고하세요.  일반행정
1                                            여쭤볼려고 그러는데요.  일반행정
2                                     그 지금 그거 뭘로 들어가 있어요?  일반행정
3                                               예, 알겠습니다.  일반행정
4                                   다른 더 확인해 드릴 것은 없으십니까?  일반행정
...                                                   ...   ...
179541              토지라 하셨고요. 제가 번호 안내 도와드릴 텐데 메모 가능하십니까?  일반행정
179542  다만 지금 1시까지가 네, 점심시간이라 연결이 좀 지연될 수 있는 점은 양해 부탁드...  일반행정
179543                                          네, 알겠습니다.  일반행정
179544                                   더 다른 문의사항 있으십니까?  일반행정
179545                                         아니요. 없습니다.  일반행정

[179546 rows x 2 columns]

In [5]:
welfare_df = pd.read_csv(file_path)
welfare_df.head()

,X,Y,label
0,"네, 안녕하세요?","네, 안녕하십니까?",복지
1,다름이 아니고 저희 아들이 디딤 씨앗 통장을. 해지하려고 하는데요.,죄송합니다만 제가 답변이 어렵기 때문에 담당자 연결해 드리도록 하겠습니다.,복지
2,"네, 알겠습니다.","고객님 혹시라도 연결 중 전화가 끊긴다면. 예, 담당자 바로 연결해드리겠습니다.",복지
3,"네, 알겠습니다.","네, 좋은 상담 이어 가세요. 고객님께서 디딤 씨앗 통장 해지 관련으로 문의하세요....",복지
4,아 저 몇 가지 여쭤볼 게 있어가지고요. 여쭤보려면 어디로 통화를 해야 되나요?,혹시 어떤 불편사항이신가요? 고객님.,복지

In [6]:
file_no2 = 2
file_path2 = f"data_file/merged_df{file_no2}.csv"
admin_df = pd.read_csv(file_path2)
admin_df.head()

,X,Y,label
0,"예, 아유 수고하세요. 여쭤볼려고 그러는데요. 그 지금 그거 뭘로 들어가 있어요? ...",다른 더 확인해 드릴 것은 없으십니까? 그럼 좋은 하루 보내세요.,일반행정
1,여보세요.,"네, 안녕하세요. 무엇을 도와드릴까요?",일반행정
2,"예, 통장에 교육청소년과로 해서 찍혔는데.","네, 네.",일반행정
3,혹시 보내주셨나 해서요.,교육청소년과로 해서 입금이 됐다는 말씀이십니까?,일반행정
4,출처를 잘 모르겠어가지고.,혹시 고객님 뭐 학자금 대출 이자 관련으로 신청하신 적은 없으십니까?,일반행정

In [7]:
df = pd.concat([welfare_df, admin_df], axis=0, ignore_index=True)
print(df['label'].value_counts(ascending=True))

df.tail()

label
일반행정    41218
복지      65850
Name: count, dtype: int64

,X,Y,label
107063,"네, 그까 일단 이 차량이 어디 소속인지 자체도 잘 모르시길래 우선 제가 확인을 하...",아 그렇습니까? 그라믄 그분 혹시 핸드폰 번호 알 수 있습니까?,일반행정
107064,"아 네, 네, 민원인 번호 말씀드리겠습니다.","네, 감사합니다.",일반행정
107065,"네, 감사합니다.",무엇을 도와드릴까요?,일반행정
107066,재산세 담당하시는 분 자리 전화 번호 좀 부탁합니다.,재산세 담당자 말씀이십니까? 실례지만 주택분이신가요 토지분이신가요? 토지라 하셨고요...,일반행정
107067,"네, 알겠습니다.",더 다른 문의사항 있으십니까?,일반행정

In [8]:
# 라벨링
# match_idx = {
#     '일반행정' : 0,
#     '도시및경제' : 1,
#     '문화및관광' : 2,
#     '환경' : 3,
#     '기타민원' : 4,
#     '교통및차량등록' : 5,
#     '상하수도' : 6,
#     '복지' : 7
# }
match_idx = {
    '복지':0,
    '일반행정':1
}

df['label'] = df['label'].map(match_idx)

In [9]:
df.tail()

,X,Y,label
107063,"네, 그까 일단 이 차량이 어디 소속인지 자체도 잘 모르시길래 우선 제가 확인을 하...",아 그렇습니까? 그라믄 그분 혹시 핸드폰 번호 알 수 있습니까?,1
107064,"아 네, 네, 민원인 번호 말씀드리겠습니다.","네, 감사합니다.",1
107065,"네, 감사합니다.",무엇을 도와드릴까요?,1
107066,재산세 담당하시는 분 자리 전화 번호 좀 부탁합니다.,재산세 담당자 말씀이십니까? 실례지만 주택분이신가요 토지분이신가요? 토지라 하셨고요...,1
107067,"네, 알겠습니다.",더 다른 문의사항 있으십니까?,1

결측값 제거

In [10]:
print(len(df))
text_data = df.dropna()
text_data = text_data.reset_index(drop=True)
print(len(text_data))
text_data.tail()

107068
107068

,X,Y,label
107063,"네, 그까 일단 이 차량이 어디 소속인지 자체도 잘 모르시길래 우선 제가 확인을 하...",아 그렇습니까? 그라믄 그분 혹시 핸드폰 번호 알 수 있습니까?,1
107064,"아 네, 네, 민원인 번호 말씀드리겠습니다.","네, 감사합니다.",1
107065,"네, 감사합니다.",무엇을 도와드릴까요?,1
107066,재산세 담당하시는 분 자리 전화 번호 좀 부탁합니다.,재산세 담당자 말씀이십니까? 실례지만 주택분이신가요 토지분이신가요? 토지라 하셨고요...,1
107067,"네, 알겠습니다.",더 다른 문의사항 있으십니까?,1

In [11]:
text_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107068 entries, 0 to 107067
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   X       107068 non-null  object
 1   Y       107068 non-null  object
 2   label   107068 non-null  int64
dtypes: int64(1), object(2)
memory usage: 2.5+ MB

## 토큰화

In [2]:
from konlpy.tag import Okt, Komoran, Kkma, Hannanum
okt = Okt()
komoran = Komoran()
kkma = Kkma()
hannanum = Hannanum()

In [11]:
# 시간개오래걸림
# def token(dataframe):
#     tokenized = []
#     for sentence in tqdm(dataframe['text'], desc='dataFrame iterate'):
#         time.sleep(0.1)
#         tokens = okt.morphs(sentence)
#         tokenize = " ".join(tokens)
#         tokenized.append(tokenize)
# 
#         dataframe['tokenized'] = pd.DataFrame(tokenized)

# pandas tqdm
tqdm.pandas(desc="Tokenizing")
# 최적화 1번
def token(dataframe, col_name, mode):
    if mode == 'okt':
        print("okt tokenizing")
        return dataframe[col_name].progress_apply(lambda sentence: " ".join(okt.morphs(sentence)))
    elif mode == 'komoran':
        print("komoran tokenizing")
        return dataframe[col_name].progress_apply(lambda sentence: " ".join(komoran.morphs(sentence)))
    elif mode == 'kkma':
        print("kkma tokenizing")
        return dataframe[col_name].progress_apply(lambda sentence: " ".join(kkma.morphs(sentence)))
    elif mode == 'hannanum':
        print("hannanum tokenizing")
        return dataframe[col_name].progress_apply(lambda sentence: " ".join(hannanum.morphs(sentence)))

In [24]:
test_okt = text_data.copy()
test_komoran = text_data.copy()
test_kkma = text_data.copy()
test_hannanum = text_data.copy()

In [25]:
print(test_okt.shape)
print(test_komoran.shape)
print(test_kkma.shape)
print(test_hannanum.shape)

(107068, 3)
(107068, 3)
(107068, 3)
(107068, 3)

In [28]:

# test['tokenized'] = test.progress_apply(lambda row : token(row['text']), axis=1)

test_okt['X'] = token(test_okt, 'X', 'okt')
test_okt['Y'] = token(test_okt, 'Y', 'okt')
print()

test_komoran['X'] = token(test_komoran, 'X', 'komoran')
test_komoran['Y'] = token(test_komoran, 'Y', 'komoran')
print()
test_kkma['X'] = token(test_kkma, 'X', 'kkma')
test_kkma['Y'] = token(test_kkma, 'Y', 'kkma')
print()
test_hannanum['X'] = token(test_hannanum, 'X', 'hannanum')
test_hannanum['Y'] = token(test_hannanum, 'Y', 'hannanum')
print()

okt tokenizing

Tokenizing: 100%|██████████| 107068/107068 [01:08<00:00, 1570.48it/s]

okt tokenizing

Tokenizing: 100%|██████████| 107068/107068 [02:02<00:00, 873.93it/s]

komoran tokenizing

Tokenizing: 100%|██████████| 107068/107068 [00:36<00:00, 2935.04it/s]

komoran tokenizing

Tokenizing: 100%|██████████| 107068/107068 [01:02<00:00, 1720.55it/s]

kkma tokenizing

Tokenizing: 100%|██████████| 107068/107068 [13:46<00:00, 129.54it/s]

kkma tokenizing

Tokenizing: 100%|██████████| 107068/107068 [27:40<00:00, 64.48it/s]

hannanum tokenizing

Tokenizing: 100%|██████████| 107068/107068 [02:37<00:00, 678.27it/s]

hannanum tokenizing

Tokenizing: 100%|██████████| 107068/107068 [04:34<00:00, 389.85it/s]

In [30]:
test_okt

,X,Y,label
0,"네 , 안녕하세요 ?","네 , 안녕하십니까 ?",0
1,다름이 아니고 저희 아들 이 디딤 씨앗 통장 을 . 해지 하려고 하는데요 .,죄송합니다만 제 가 답변 이 어렵기 때문 에 담당자 연결해 드리도록 하겠습니다 .,0
2,"네 , 알겠습니다 .","고객 님 혹시 라도 연결 중 전화 가 끊긴다면 . 예 , 담당자 바로 연결 해드리겠...",0
3,"네 , 알겠습니다 .","네 , 좋은 상담 이어 가세 요 . 고객 님 께서 디딤 씨앗 통장 해지 관련 으로 ...",0
4,아 저 몇 가지 여쭤 볼 게 있어가지고요 . 여쭤 보려면 어디 로 통화 를 해야 되...,혹시 어떤 불편 사항 이신 가요 ? 고객 님 .,0
...,...,...,...
107063,"네 , 그 까 일단 이 차량 이 어디 소속 인지 자체 도 잘 모르시길래 우선 제 가...",아 그렇습니까 ? 그 라 믄 그 분 혹시 핸드폰 번호 알 수 있습니까 ?,1
107064,"아 네 , 네 , 민원 인 번호 말씀드리겠습니다 .","네 , 감사합니다 .",1
107065,"네 , 감사합니다 .",무엇 을 도 와 드릴 까요 ?,1
107066,재산세 담당 하시는 분 자리 전화 번호 좀 부탁 합니다 .,재산세 담당자 말씀 이십 니까 ? 실례 지만 주택 분 이신 가요 토지 분 이신 가요...,1
107067,"네 , 알겠습니다 .",더 다른 문의사항 있으십니까 ?,1

In [46]:
test_komoran.head()

,X,Y,label
0,"네 , 안녕하세요 ?","네 , 안녕하십니까 ?",0
1,다르 ㅁ 이 아니 고 저희 아들 이 디디 ㅁ 씨앗 통장 을 . 해지 하 려고 하 는...,죄송 하 ㅂ니다만 제가 답변 이 어렵 기 때문 에 담당자 연결 하 아 드리 도록 하...,0
2,"네 , 알 겠 습니다 .","고객 님 혹시 이 라도 연결 중 전화 가 끊기 ㄴ다면 . 예 , 담당자 바로 연결 ...",0
3,"네 , 알 겠 습니다 .","네 , 좋 은 상담 이어 가 시 어요 . 고객 님 께서 디디 ㅁ 씨앗 통장 해지 관...",0
4,아 저 몇 가지 여쭈 어 보 ㄹ 게 있 어 가지 고요 . 여쭈 어 보 려면 어디 로...,혹시 어떤 불편 사항 이 시 ㄴ가요 ? 고객 님 .,0

In [29]:
# 파일 저장
test_okt.to_csv("tokenized/only_tag_okt.csv", index=False, encoding='utf-8')
test_komoran.to_csv("tokenized/only_tag_komoran.csv", index=False, encoding='utf-8')
test_kkma.to_csv("tokenized/only_tag_kkma.csv", index=False, encoding='utf-8')
test_hannanum.to_csv("tokenized/only_tag_hannanum.csv", index=False, encoding='utf-8')

## 품사 태깅(POS Tagging)

In [3]:
# 제외 품사 설정
exclusion_tags_Okt = [
    'Josa', 'Punctuation', 'Conjunction',
    # 조사, 구두점, 접속사
    'PreEomi', 'Eomi', 'Suffix', 'Number'
    # 선어말어미, 어미, 접미사, 숫자
]

exclusion_tags_Komoran = [
    'NNBC', 'VX', 'IC', 
    'JKS', 'JKC', 'JKG', 'JKO', 'JKB', 'JKV', 'JKQ',
    'JX', 'JC',
    'SF', 'SP', 'SS', 'SE', 'SO', 
    'EP', 'EF', 'EC', 'ETN', 'ETM',
    'XSN', 'XSV', 'XSA', 'XPN'
]
# 불용어 리스트 출력
path = 'korean_stopwords.txt'
with open(path, 'r', encoding='utf-8') as f:
    stopwords = f.readlines()
stopword_list = [x.strip() for x in stopwords] 
stopword_list += ['의', '가', '이', '은', '들', '는', '좀',
                  '잘', '걍', '과', '도', '를', '으로', '자', '에',
                  '와', '한', '하다']

In [4]:
tokenized_okt = pd.read_csv("data_file/xy_merged.csv")
tokenized_komoran = pd.read_csv("data_file/xy_merged.csv")
tokenized_kkma = pd.read_csv("data_file/xy_merged.csv")
tokenized_hannanum = pd.read_csv("data_file/xy_merged.csv")

In [10]:
type(tokenized_okt)

pandas.core.frame.DataFrame

In [12]:
# def token(dataframe):
#     return dataframe['text'].progress_apply(lambda sentence: " ".join(okt.morphs(sentence)))
tqdm.pandas(desc="post_tagging")
def post_tagging(dataframe, col_name, mode):
    # 불용어 처리
    def exclusion(t_list):
        return [word[0] for word in t_list if word[0] not in stopword_list and word[1] not in exclusion_tags_Komoran]

    if mode == 'okt':
        print("okt post_tagging")
        return dataframe[col_name].progress_apply(lambda sentence: " ".join(exclusion(okt.pos(sentence))))
    elif mode == 'komoran':
        print("komoran post_tagging")
        return dataframe[col_name].progress_apply(lambda sentence: " ".join(exclusion(komoran.pos(sentence))))
    elif mode == 'kkma':
        print("kkma post_tagging")
        return dataframe[col_name].progress_apply(lambda sentence: " ".join(exclusion(kkma.pos(sentence))))
    elif mode == 'hannanum':
        print("hannanum post_tagging")
        return dataframe[col_name].progress_apply(lambda sentence: " ".join(exclusion(hannanum.pos(sentence))))

In [13]:
tokenized_okt['X'] = post_tagging(tokenized_okt, 'X', 'okt')
tokenized_okt['Y'] = post_tagging(tokenized_okt, 'Y', 'okt')
print()

tokenized_komoran['X'] = post_tagging(tokenized_komoran, 'X', 'komoran')
tokenized_komoran['Y'] = post_tagging(tokenized_komoran, 'Y', 'komoran')
print()

tokenized_kkma['X'] = post_tagging(tokenized_kkma, 'X', 'kkma')
tokenized_kkma['Y'] = post_tagging(tokenized_kkma, 'Y', 'kkma')
print()

tokenized_hannanum['X'] = post_tagging(tokenized_hannanum, 'X', 'hannanum')
tokenized_hannanum['Y'] = post_tagging(tokenized_hannanum, 'Y', 'hannanum')
print()

okt post_tagging

post_tagging: 100%|██████████| 107068/107068 [01:11<00:00, 1506.76it/s]

okt post_tagging

post_tagging: 100%|██████████| 107068/107068 [01:58<00:00, 906.02it/s]

komoran post_tagging

post_tagging: 100%|██████████| 107068/107068 [00:40<00:00, 2633.15it/s]

komoran post_tagging

post_tagging: 100%|██████████| 107068/107068 [01:09<00:00, 1535.21it/s]

kkma post_tagging

post_tagging: 100%|██████████| 107068/107068 [12:12<00:00, 146.27it/s]

kkma post_tagging

post_tagging: 100%|██████████| 107068/107068 [22:11<00:00, 80.41it/s]

hannanum post_tagging

post_tagging: 100%|██████████| 107068/107068 [02:28<00:00, 720.11it/s]

hannanum post_tagging

post_tagging: 100%|██████████| 107068/107068 [04:39<00:00, 383.17it/s]

In [14]:
tokenized_okt.head()

,X,Y,label
0,", 안녕하세요 ?",", 안녕하십니까 ?",0
1,다름이 아니고 아들 디딤 씨앗 통장 . 해지 하려고 하는데요 .,죄송합니다만 답변 어렵기 때문 담당자 연결해 드리도록 하겠습니다 .,0
2,", 알겠습니다 .","고객 님 라도 연결 중 전화 끊긴다면 . , 담당자 연결 해드리겠습니다 .",0
3,", 알겠습니다 .",", 좋은 상담 이어 가세 요 . 고객 님 께서 디딤 씨앗 통장 해지 관련 문의 하세...",0
4,가지 여쭤 볼 게 있어가지고요 . 여쭤 보려면 통화 해야 되나요 ?,불편 사항 이신 가요 ? 고객 님 .,0

In [15]:
tokenized_okt.to_csv("tokenized/tokenized_okt.csv", index=False, encoding='utf-8')
tokenized_komoran.to_csv("tokenized/tokenized_komoran.csv", index=False, encoding='utf-8')
tokenized_kkma.to_csv("tokenized/tokenized_kkma.csv", index=False, encoding='utf-8')
tokenized_hannanum.to_csv("tokenized/tokenized_hannanum.csv", index=False, encoding='utf-8')

In [43]:
text_data.head()
text_data.to_csv("data_file/xy_merged.csv", index=False, encoding='utf-8')